@import url("https://use.typekit.net/asc4pgk.css");

/* CSS HEX 
--shamrock-green: #319758ff;
--mauvelous: #e89598ff;
--goldenrod: #e7af12ff;
--champagne: #efdfc9ff;
--harvest-gold: #e59300ff;
--dutch-white: #e3d1b5ff;

--rich-black-fogra-29: #011627ff;
--oxford-blue: #02223cff;
--prussian-blue: #022d4fff;
--indigo-dye: #19405fff;
--yale-blue: #2e516eff;
*/ 

body {
    background-color: #ECF0F1; 
    background-size: 101%;
    margin: 0; 
    scroll-behavior: auto;


}

.topnav {
    float: right;
    color: black;
    text-align: left;
    padding: 12vh 7vw;
}

.topnav a {  
    color: black;
    font-size: 150%;
    font-family: neue-haas-grotesk-display, sans-serif;
    font-weight: 600;
    font-style: normal;
    text-decoration: none;
    padding: 18px;
}

.topnav a:hover{
    color: #846A6A;
    font-size: 150%;
    transition: all .002s ease;
    font-family: neue-haas-grotesk-display, sans-serif;
    font-weight: 600; 
    font-style: normal;
    padding: 18px;
}

.nametop {
    padding: 12vh 9vw;
    transition: all .002s ease;
}

.nametop a{
    font-size: 200%;
    color: black;
    transition: all .002s ease;
    font-family: neue-haas-grotesk-display, sans-serif;
    font-weight: 600; 
    font-style: normal;
    text-decoration: none;
    padding: 14px;
}

.nametop a:hover {
    color: #846A6A;
}

.intropic img{
    display: block;
    padding-right: 10.5vw;
    margin-top: 0;
    width: 30%;
    float: right;
    height: 30%;
}

.name { 
    display: block;
    margin-top: -20px;
    padding-left: 9.5vw;
    margin-bottom: -60px;
}
.name h1{
    text-align: left;
    font-size: 700%;
    color:black;
    font-family: kansasnew, serif;
    font-weight: 300;   
    font-style: normal;
    text-decoration: none;
}

.intro {
    display: block;
    color:black ;
    padding-left: 9vw;
    font-size: 180%;
    font-family: neue-haas-grotesk-display, sans-serif;
    font-weight: 300;
    font-style: normal;
    text-decoration: none;
}

.intro img{
    float: right;
    width: 50%;
}

.harvard a{
    text-decoration: none;
    color:#A51C30;
}

.harvard a:hover {
    text-decoration: none;
    color:#A51C30;
    opacity: .65;

}

.yx a{
    text-decoration: none;
    color:#f0aa1d;
}

.yx a:hover {
    text-decoration: none;
    color:#f0aa1d;
    opacity: .65;
    
}

.hdc a{
    color:#db3069;
    text-decoration: none;
}

.hdc a:hover {
    opacity: .65;
    color:#db3069;
}

.nj a{
    color:#2250a7;   
    text-decoration: none;
}

.nj a:hover {
    opacity: .65;
    color:#2250a7;
}

.arrow {
    /* display: block; */
    justify-content: center;
    align-content: center;
}

.projects {
    padding: 0;
}

.projects h1 {
    padding-top: 17vh;
    padding-left: 6vw;
    margin: 0;
    font-size: 400%;
    font-family: kansasnew, serif;
    color: #ECF0F1;
}

.projects h2 {
    font-size: 240%;
    padding-left: 6vw;
    margin: 0;
    font-family: neue-haas-grotesk-display, sans-serif;
    font-weight: 300;
    color: #ECF0F1;
}

.projects h3 {
    font-size: 130%;
    line-height: 300%;
    padding-left: 6vw;
    font-weight: 300;
    margin: 0;
    font-family: neue-haas-grotesk-display, sans-serif;
    font-style: italic;
    color: #ECF0F1;
}

.projects h4 {
    font-size: 120%;
    padding-left: 6vw;
    font-weight: 200;
    margin: 0;
    font-family: neue-haas-grotesk-display, sans-serif;
    color: #ECF0F1;
}

.projects h4 a{
    font-size: 120%;
    text-decoration: none;
    line-height: 400%;
    font-weight: 700;
    transition: all .4s ease;
    margin: 0;
    font-family: neue-haas-grotesk-display, sans-serif;
    color: #e7af12ff;
}

.projects h4 a:hover{
    letter-spacing: 1px;
    font-size: 120%;
    text-decoration: none;
    transition: all .4s ease;
    line-height: 400%;
    font-weight: 700;
    margin: 0;
    font-family: neue-haas-grotesk-display, sans-serif;
    color: #e7af12ff;
}


.projects img {
    padding: 10vh 6vw;
    width: 80%;
    transition: all .4s ease;
    height: 80%;
    border-radius: 105px;
}

.projects img:hover {
    margin: 0;
    transition: all .4s ease;
    width: 80.5%;
    height: 80.5%;
    border-radius: 105px;
}

.CS0 {
    column-count: 2;
    background-color: black;
}

.CS1 {
    column-count: 2;
    background-color: black;
    
}


.CS2 {
    column-count: 2;
    background-color: black;

}

footer {
    margin-top: -20px;
    margin-bottom: 0px;
    padding: 1vh 4vh 1vh ;
    background-color:#ECF0F1;
}

footer h1{
    padding-left: 4vw;
    align-items: center;
    font-size: 150%;
    font-family: neue-haas-grotesk-display, sans-serif;
    font-weight: 600; 
    font-style: normal;
}

footer .fa {
    font-size: 30px;
    color: #011627ff;
    width: 50px;
    text-align: right;
    text-decoration: none;
    margin: 5px 2px;
  }

  footer .fa:hover {
    font-size: 30px;
    color: #846A6A;
    width: 50px;
    text-align: right;
    text-decoration: none;
    margin: 5px 2px;
  }

